body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.topo0 {
    height:30px;
    background-color:#333;
}

.topo0int {
    width: 100%;
    max-width: 1040px;
    height: 30px;
    margin: auto;
}

.topo0intleft {
    width: 50%;
    height: 30px;
    float:left;
}

.topo0intleft ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topo0intleft li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin-left: 8px;
    margin-right: 8px;
}

.topo0intleft li a {
    text-decoration: none;
    color: #FFF;
}

.topo0intleft li .ativo {
    color:blue;
}

.topo0intright {
    width: 50%;
    height:28px;
    float:right;
    text-align: right;
    margin-top: 2px;
}

.topobusca {
    width: 110px;
    height: 20px;
    outline: 0;
}

.topo0intright a {
    float: right;
}

.topo0intright input {
    float: right;
}

.topo0intright img {
    margin-right: 4px;
}

.topo1 {
    height:95px;
}

.topo1int {
    width: 100%;
    max-width: 1040px;
    height: 95px;
    margin: auto;
}

.logo {
    width: 200px;
    height: 55px;
    float:left;
}

.topo1 .banner {
    width: 650px;
    height: 80px;
    float: right;
    margin-top: 7px;
    background-color:#FF0000;
}

.menu {
    height: 40px;
    background-color: #FF0000;
}

.menuint {
    width: 100%;
    max-width:1040px;
    height: 40px;
    margin: auto;
}

.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    float: left;
    height: 40px;
    line-height: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.menu a {
    text-decoration: none;
    color: #FFF;
}

.submenu {
    width: 150px;
    background-color:#FF0000;
    position: absolute;
    display: none;    
}

.menu li:hover .submenu {
    display: block;
}

.submenuitem {
    width: 150px;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.submenuitem:hover {
    background-color: #FF5555;
    width: 140px;
}

.ultimasnoticias {
    height: 40px;
}

.ultimasnoticiasint {
    width: 100%;
    max-width: 1040px;
    height: 40px;
    margin:auto;
}

.ultimasnoticiasarea {
    height: 28px;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-top: 10px;
}

.areanoticia {
    background-color: #FF0000;
    color: #FFF;
    height: 28px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    line-height: 28px;
}

.areanoticiatxt {
    color: #000;
    height: 28px;
    line-height: 28px;
    display: inline-block;
    padding-left: 5px;
}

.conteiner1 {
    width: 100%;
    max-width: 1040px;
    margin: auto;
}

.rightside {
    width: 275px;
    min-height: 200px;
    float: right;
    margin-left: 12px;
}

.widget {
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-bottom: 10px;
}

.widget-titulo {
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
    background-color: #DDD;
    border-bottom: 1px solid #CCC;
    font-size: 14px;
    text-transform: uppercase;
}

.widget-conteudo {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.leftside {
    float: left;
    width: 753px;
}

.noticia_item {
    font-size: 14px;
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: left;
    border-bottom: 1px solid #CCC;
}

.noticia_item a {
    text-decoration: none;
    color:#000;
}

.slideshow {
    height: 335px;
    background-color: #CCC;
    overflow: hidden;
    margin-bottom: 20px;  
}

.slideshowarea {
    width: 100000px;
    height: 335px;
    background-color: #DDD;
    transition: all 1s;
}

.slide {
    height: 335;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.slideinfo {
    height: 70px;
    background-image:url('../img/slideshow_bg.png');
    background-size: auto 70px;
    margin-top: 265px;
}

.slideinfo_titulo {
    font-size: 20px;
    color: #FFF;
    padding-top: 15px;
    padding-left: 20px;
}

.slideinfo_subtitulo {
    font-size: 13px;
    color: #FFF;
    padding-left: 20px;
}

.slidebolinhas {
    position: absolute;
    width: 200px;
    height: 20px;
}

.bolinha {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    background-color: #CCC;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}

.noticiaarea1 {
    width: 430px;
    height: 420px;
    float: left;
}

.noticiaarea2 {
    width: 320px;
    height: 420px;
    float: left;
}

.noticiaitem {
    text-align: left;
    height: 88px;
    margin-top: 7px;
    margin-bottom: 7px;
}

.noticiaimg {
    width: 80px;
    height: 80px;
    border: 1px solid #CCC;
    padding: 3px;
    float: left;
}

.noticiatitulo {
    float: left;
    margin-left: 6px;
    font-size: 16px;
    width: 226px;
}

.noticiainfo {
    font-size: 12px;
    margin-left: 6px;
    color: #999;
    float: left;
    margin-top: 30px;
}

.noticiabig {
    margin-left: 10px;
}

.noticiabig .noticiaimg {
    width: 384px;
    height: 222px;
}

.noticiabig .noticiaimg img {
    width: 384px;
    height: 222px;
}

.noticiabig .noticiatitulo {
    font-size: 30px;
    width: 384px;
}

@media only screen and (max-width:1057px) {
    .topo0int,
    .topo1int,
    .menuint,
    .ultimasnoticiasint,
    .conteiner1 {
        max-width: 890px;
    }
}